<nav>
    <div class="site-title">
        <a href="/">
            <h>Blog ninja</h>
            <p>A net ninja site</p>
        </a>
    </div>
        <ul>
            <li><a href="/">blogs</a></li> 
            <li><a href="/about">about</a></li> 
            <li><a href="/blogs/create">new blog</a></li>  
        </ul>
    </nav> 