<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title><%= title %> </title>
</head>
<body>
    <div class="login">
        <h1>login</h1>
        <form action="/student/login" method="post">
            <label>email    : </label>
            <input type="email" name="email" id="email" placeholder="Enter your username" required />
            <input type="password" name="password" id="password" placeholder="Enter your password" required />
            <input type="submit" />          
        </form>

    </div>
</body>
</html>